body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 5rem;
  background: rebeccapurple;
}

#projects {
  background: #4508a8;
}

footer{
  background-color: #22ff00;
  
}
section {
  padding-top: 5rem;
}

.navbar{
  background-color: #ff0000;
}